<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/views/images/gorila_avatar.png">
    <title>Email Sent</title>
    <style>
        body {
            background-color: #A9CEF4;
            font-family: Poppins;
            font-weight: 600;
            background-color: ;
        }
        h1 {
            position: absolute;
            top: 5%;
            left: 5%;
        }
    </style>
</head>
<body>
    <h1>An email was sent your inbox, please verify your account.</h1>
</body>
</html>