<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" href="/views/images/gorila_avatar.png">
    <link rel="stylesheet" href="/views/login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container-sm text-center">
                <div class="row justify-content-center r1">
            <div class="col-12 d-flex justify-content-end">
                <img class="social linkedin" src="/views/images/linkedin_cli.png" alt="">
                <img class="social github" src="/views/images/github_pre.png" alt="">
            </div>
            </div>
        <div class="row cont">
            <div class="col c1">
             <h1>Login</h1>
              <div class="row justify-content-center">
                <div class="col-md-3 center-block c3">
                  <form method="post">
                    <h5>Email</h4>
                    <input class="form-control" type="text" name="email">
                    <h5>Password</h4>
                    <input class="form-control" type="password" name="password"><br>
                    <input id="submit_login" type="submit" value="LOGIN">
                    <p id="error_message"></p>
                    <h2>Don't have an account? Register Here</h2>
                    <a href="/user/register">Register</a>
                  </form>
                 </div>
               </div>
              </div>
            </div>
        </div>


        <script>

            var click_github = document.querySelector('.github');
            click_github.addEventListener("click", function () {
            location.href = "https://github.com/dreazz97";
            })

            var click_linkedin = document.querySelector('.linkedin');
            click_linkedin.addEventListener("click", function () {
            location.href = "https://pt.linkedin.com/in/iuri-peniche-29337a183";
            })

            var errormessage = document.querySelector('#error_message');
            const myKeysValues = window.location.search;
            if (myKeysValues == '?Invalid%20email%20or%20password'){
                errormessage.innerHTML = "Invalid email or password"
            }else if (myKeysValues == '?User%20not%20registered'){
                errormessage.innerHTML = "User not registered"
            }
        </script>
</body>
</html>