body {
    background-color: #A9CEF4;
}

.cont {
    margin-top: 10%;
}

h1 {
    margin-bottom: 40px;
    font-family: Poppins;
    font-weight: 600;
    color: #36494E;
}

h5 {
    margin-top: 15px;
    font-family: Poppins;
    font-size: 1.1em;
}

h2 {
    font-family: Poppins;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #36494E;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.3em;
}

a:hover {
    color: #7EA0B7;
}

#error_message {
    margin-top: 15px;
    font-family: Poppins;
}

#submit_login {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.1em;
    width: 130px;
    border-radius: 10px;
    border-width: 0.5px;
    border-color: #36494E;
    color: #36494E;
    background-color: #A9CEF4;
}

#submit_login:hover {
    background-color: #7EA0B7;
    color: white;
}

.r1 {
    margin-top: 30px;
}

.social {
    width: 50px;
    margin-right: 30px;
}

.linkedin:hover {
    cursor: pointer;
}

.github:hover {
    cursor: pointer;
}